<!DOCTYPE html>
<html>
<head>
<title>acklatt</title>
</head>
<body style="background-color:lightgreen;">

<h1>Alex Klatt</h1>

<h2>About Me</h2>

<p>My name is Alex Klatt, and I am from Billings, Montana. I grew up loving the outdoors, and any sport that was offered. As I was playing sports in High School, I found out that I am rather good at running in a circle. After having much success in the 800 meter run, I was recruited to come and run Track and Field at the University of Memphis in Memphis, TN. I am currently in my Senior year at the U of M, and am still participating in Track. I have a school record, and multiple medals from the American Athletic Conference meet. I am getting my degree in Computer Science, with a minor in Mathematics.</p>

<div style="width: 100%;">
   <div style="float:left; width: 30%">
		<img src="/assets/2.png" alt="Me" style="width:350px;height:180px;">  
   </div>
   <div style="float:right; width: 70%">
<ul>
    Hobbies
    <ul>
        <li>Running</li>
        <li>Basketball</li>
        <li>Mobile Application Development</li>
        <li>Writing</li>
        <li>Watching Movies</li>
        <li>Climbing</li>
        <li>Backpacking</li>
        <li>Anything With Animals</li>
        </ul>
</ul>    
   </div>
</div>
<div style="clear:both"></div>


<div style="width: 100%;">
   <div style="float:left; width: 20%">
   </div>
   <div style="float:right; width: 80%">  
<form>
<br>
    <legend>Does Alex Sound Cool</legend>
  <input type="radio" name="question" value="yes" checked> Yes<br>
  <input type="radio" name="question" value="no"> No<br>
  <br>
    <legend>Why Yes or No?</legend>
  <select>
  <option value="montana">Montana</option>
  <option value="hobbies">Hobbies</option>
  <option value="track">Track</option>
  <option value="major/minor">Major/Minor</option>
  </select><br>
  <br>
  <input type="submit" value="Submit">
</form>
   </div>
</div>
<div style="clear:both"></div>

<center>
<a href="http://localhost:3000/"> Back To Badminton Homepage <a/>
</center>


</body>
</html>