<!DOCTYPE html>
<html>
<head>
<style>
html {
    background: url(/assets/Doubtful_Sound.jpg) no-repeat center fixed; 
    background-size: cover;
}
</style>
<title>ahayes</title>
</head>
<body>
<h1>Andrew Hayes</h1>

<h2>About Me</h2>

<p>Hiya, my name is Andrew Hayes(although I go by Andy in the non computer science world), and here's a little about me for ya. I grew up in Memphis,TN(although specifically speaking it was Germantown) and have lived here my whole life except for a brief 2 year stint where I went to Harding University in Searcy, Arkansas. During my time at HU I travelled abroad to Japan, Thailand, Singapore, Cambodia, Vietnam, New Zealand, and Australia. Also I played on the ultimate frisbee team at Harding and went to the National Championships for that where we got to the semi finals and lost :(. I have been to every continent except Antarctica(and I intend to visit it one day). I am 22 years old and have played tennis for 18 of those 22 years. I also started running cross country in 7th grade and have continued running ever since. I am currently training for a marathon in February, and after that I intend to qualify for the Boston Marathon. I coach CC and tennis at Harding Academy on Cherry road. I started off college as a Music Education major, then after one semeseter changed to a Exercise and Sports Sciences Major(Pre-Physical Therapy), and then after doing a bit of thinking realized that I wouldn't finish with schooling til I was 30ish and changed to a Computer Science major, and so here I am. I am currently a super senior and intend to graduate next fall.</p>

<div style="width: 100%;">
   <div style="float:left; width: 30%">
		<img src="/assets/andrew.jpg" alt="Andrew" style="width:150px;height:150px;">  
   </div>
   <div style="float:right; width: 70%">
<ul>
    About me in list form
    <ul>
        <li>Running</li>
        <li>Tennis</li>
        <li>League of Legends</li>
        <li>Ultimate Frisbee</li>
        <li>playing with my dog Phoebe</li>
        <li>travelling</li>

        </ul>
</ul>    
   </div>
</div>
<div style="clear:both"></div>


<div style="width: 100%;">
   <div style="float:left; width: 20%">
   </div>
   <div style="float:right; width: 80%">  
<form>
<br>
    <legend>What is your favorite house pet?</legend>
  <input type="radio" name="question" value="yes" checked> Dog<br>
  <input type="radio" name="question" value="no"> Cat<br>
  <input type="radio" name="question" value="no"> Other<br>
  <br>
    <legend>Which Country would you like to visit most?</legend>
  <select>
  <option value="montana">New Zealand</option>
  <option value="hobbies">Australia</option>
  <option value="track">Japan</option>
  <option value="major/minor">Germany</option>
  </select><br>
  <br>
  <input type="submit" value="Submit">
</form>
   </div>
</div>
<div style="clear:both"></div>

<center>
<a href="http://localhost:3000/"> Back To Badminton Homepage <a/>
</center>


</body>
</html>