<h1>Badminton</h1>
<img src="assets/badminton.jpg" alt="badminton img" height="200" width="200">
<p> A picture and video of badminton incase you didn't know. Also, down below are the <br>members of the cs badminton team. We consist of Alex Klatt, Andrew Hayes, and Carlos Cancino </p>
<p>Here's an index of pages for our team. </p>

<ul>


	<li><%= link_to 'Klatt, Alex', acklatt_path %></li>

	<li><%= link_to 'Cancino, Carlos', ccancino_path %></li>

	<li><%= link_to 'Hayes, Andrew', ahayes_path %></li>

</ul>

<iframe width="560" height="315" src="https://www.youtube.com/embed/WPM40QTO9DE" frameborder="0" allowfullscreen></iframe>

