<h1>YOUR TEAM'S NAME GOES HERE</h1>

<p>Here's an index of pages for your team. Follow the pattern that I use below (and in the routes.rb file)</p>

<ul>

	<li><%= link_to 'Fleming, Scott', sdflming_path %></li>

	<li>YOUR LINK GOES HERE</li>

</ul>

<p>Here's the video on making MVC views in Rails:</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/N6V5R8y5-P4" frameborder="0" allowfullscreen></iframe>
