<<<<<<< HEAD
<h1> Badminton </h1>
<img src="assets/badminton.jpg" alt="badminton img" height="200" width="200">
<p> A picture and video of badminton incase you didn't know. Also, down below are the <br>members of the cs badminton team. </p>

<ul>

	<li><%= link_to 'Cancino, Carlos', ccancino_path %></li>

</ul>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/WPM40QTO9DE" frameborder="0" allowfullscreen></iframe>
=======
<h1>Badminton</h1>

<p>Here's an index of pages for your team. Follow the pattern that I use below (and in the routes.rb file)</p>

<ul>

	<li><%= link_to 'Fleming, Scott', sdflming_path %></li>

	<li><%= link_to 'Klatt, Alex', acklatt_path %></li>

	<li>YOUR LINK GOES HERE</li>

</ul>

<p>Here's the video on making MVC views in Rails:</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/N6V5R8y5-P4" frameborder="0" allowfullscreen></iframe>
>>>>>>> fd73ce9f5645083e898df23f29eb58820cd5de73
